body {
  margin: 50px;
}

.container {
  background-image: url(https://images.pexels.com/photos/66997/pexels-photo-66997.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-size: 540px 575px;
  display: block;
  margin: 0 auto;
  padding: 15px;
  color: #fff;
  font-family: "Bubbler One", sans-serif;
  font-weight: 900;
  border: 2px solid orange;
  width: 540px;
  height: 575px;
}
.cloud {
  position: absolute;
  width: 275px;
  height: 80px;
  margin-top: 75px;
  border-radius: 50px;
  background: #74cccf;
  opacity: 0.3;
  z-index: 1;
}
.cloud:before {
  content: "";
  position: absolute;
  top: -50px;
  left: 45px;
  background: #74cccf;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: 1;
}
.cloud:after {
  content: "";
  position: absolute;
  top: -75px;
  right: 40px;
  background: #74cccf;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  z-index: 1;
}
.stepen {
  z-index: 2;
  position: absolute;
  margin: 0;
  padding-left: 90px;
  padding-top: 50px;
  font-size: 45px;
}
.line {
  font-size: 25px;
}
.choice {
  position: relative;
  color: #fff;
  font-size: 25px;
  font-weight: bolder;
}
h1 {
  grid-row: 1/3;
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 30px;
}
#dateTime {
  font-size: 30px;
  text-align: center;
}
#description {
  color: #fd904a;
  text-align: center;
  font-size: 30px;
}
.suggestion {
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
}
form {
  text-align: center;
  margin: auto;
  color: #fff;
}

input,
button {
  color: #fff;
  background: transparent;
  border-color: greenyellow;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 20px;
}
::placeholder {
  color: #fff;
}

input:hover {
  background: #fe8b4d;
  color: #fff;
}
button:hover {
  background: #fe8b4d;
}
#days {
  text-align: center;
  text-decoration: underline;
  margin: 15px;
}
ul {
  list-style: none;
}
li {
  text-align: left;
}
.extras {
  border-right: 5px solid greenyellow;
  height: 70px;
  position: absolute;
  padding-right: 30px;
}
img {
  display: inline-block;
}
.umbrella {
  display: block;
  margin-left: auto;
  padding-right: 75px;
}
.coder,
.icons {
  text-align: center;
  font-size: 12px;
  margin: 5px;
}
